*{
    margin: 0;
    padding: 0;
}

.hero{
   height: 400px;
    background-image: url(/img/hero.jpg);
    background-size: auto;
    background-position:30%;
    
}

/* Index Page */
.mygrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
    
    
   
}

.mycont{
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
   
}

.mybtn{
    border-top: 2px solid rgb(0, 89, 255);
    margin-top: 1rem;
    padding-top: 1rem;
}
/* Index Page End */

/* Details Page */

.details{
    padding: 2%;
}

/* Details Page End */

/* Responsiveness */
@media only screen and (max-width: 1400px) {
    .mygrid {
      grid-template-columns: repeat(2,1fr);
    }
  }


  @media only screen and (max-width: 1000px) {
    .mygrid {
      grid-template-columns: repeat(1,1fr);
    }
  }

  .myflex{
    display: flex;
    background-color: aqua;
  }