{% extends 'base.html.twig' %}

{% block title %}New Events{% endblock %}

{% block body %}
    <div class="mycont">
        <h1>Add a new Event</h1>
        
    {{ include('events/_form.html.twig') }}

    
    </div>
   
{% endblock %}
